/* lab4_7a */
.trojkat_svg_box {
    text-align: center;
    width: 500px;
    height: 500px;
    border: none;
    float: left;
    margin: 10px;
}
.tlo{
		pointer-events: none;
		fill:white;
		stroke:none
}
.trojkat{
		fill:#cccccc;
		stroke:#000000;
		stroke-width:1;
}
.punkt{
		stroke:black;
		stroke-width:2;
		fill:black;
		pointer-events:all;
		cursor: pointer;
}

/*
.trojkat_svg {
    text-align: center;
    width: 500px;
    height: 500px;
    border: black solid 1px;
    float: left;
}
.xyz_input {
    width: 30px;
}
.naviation_panel {
    float: left;
    width: 200px;
    margin: 10px;
}
.legend {
    float: left;
    width: 700px;
    margin: 10px;
}
.opis {
    float: left;
    width: 700px;
    margin: 10px;
}
.wysokosci{
  	visibility: hidden;
		stroke:green;
		stroke-width:1;
}
.srodkowe{
		visibility: hidden;
		stroke:blue;
		stroke-width:1;
}
.symetralne{
		visibility: hidden; 
		stroke:rgb(99,99,99);
		stroke-width:1;
}
*/