include head.pug

<div id="content">
	<section>
		<h3>Dokumentacja</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tempore dolorem dicta vero accusantium earum perspiciatis sint voluptas libero. Itaque sunt ullam sapiente suscipit vitae? Tempora nam sit est voluptatibus!</p>
	</section>
</div>
include footer.pug
