include head.pug

<div id="content">
	<section>
		<h3>Dokumentacja</h3>
		<p>
			| Tematem projektu jest ankieta rekrutacyjna. Niezalogowany użytkownik może wypiełnić ankiety i zapisać w lokalnej bazie danych.
			| Po zalogowaniu lokalne ankiety są wysyłane do bazy danych na serwerze. Zalogowany użytkownik może wypełniać ankiety i wysyłać je bezpośrednio do bazy danych na serwerze. Może również przeglądać statystyki dotyczące ankiet. <br><br>
			| Po stronie klienta zostały użyte technologie: <br>
			| - HMTL5 <br>
			| - CSS + Bootstrap <br>
			| - JavaScript + AJAX + IndexedDB + Chart.js <br><br>
			| Po stronie serwera zostały użyte technologie: <br>
			| - Node.js <br>
			| - wraz z modułami: body-parser, express, express-session, mongodb, pug <br>
			| - Baza danych: MongoDB <br>
		</p>
	</section>
</div>
include footer.pug
