<!doctype html>
<html lang="pl">

<head>
    <title>Ankieta rekrutacyjna - Tomasz Rajchel</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Tomasz Rajchel" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="ajax.js"></script>
    <script src="local_storage.js"></script>
</head>

<body>
<header>
    <h1>Ankieta Rekrutacyjna</h1>
    <nav>
        <a class="header-link" href="./">Dokumentacja</a>
        <a class="header-link" href="./survey">Wypełnij ankiete</a>
        <a class="header-link" href="./analytics">Statystyki</a>
        <a class="header-link" href="./survey_results">Wyniki</a>
        <a class="header-link" href="#" id="results_offline">Wyniki - offline</a>

        <a class="header-link" href="./login" id="login">Zaloguj się</a>
        <a class="header-link" href="./logout" id="logout">Wyloguj się</a>
        <span class="header-link" id="current_user"></span>
    </nav>
</header>