include head.pug

<div id="content">
	<section>
		<h3>Zaloguj się</h3>
		<form action="" id="login_form" method="POST">
			<div class="row">
				<label for="userName">login:‏‏‎</label>
				<input type="text" id="username" name="username" placeholder="admin" value="admin" required>
			</div>

			<div class="row">
				<label for="pass">Hasło:</label>
				<input type="password" id="pass" name="pass" value="1234" placeholder="1234" required>
			</div>
			<div class="row">
				<input type="submit" value="Zaloguj">
			</div>
		</form>
	</section>
</div>

include footer.pug
