body {
    background-color: #eef;
    font-family: Arial, Helvetica, sans-serif;
    color:#444;
    text-align: center;
}

input {
    margin-top: 2px;
    padding: 4px;
}

ul {
    list-style-type: none;
}

table{
    margin: 8px auto;
}
table, th, td {
    border: 1px solid black;
}
td {
    padding: 0 8px;
}

.blogPost {
    width: 600px;
    background-color: #fafafa;
    border: 1px solid gray;
    border-radius: 1px;
    margin: 1px auto;
    text-align: left;
    padding: 4px;
}
