html {
	height: 100%;
}
body {
	margin: 0;
	background-color: #ffe;
	font-family: Arial, Helvetica, sans-serif;
	color:#444;
	min-height:100%;
	position:relative;
	padding-bottom: 3em;
}

nav {
	background-color: #444;
	padding-left: 64px;
	text-align: left;
}

nav>a {
	display: inline-block;
	margin:0;
	padding:8px 16px;
	color: #eee;
	text-decoration: none;
}

nav>a:hover{
	color: #fff;
	background-color: #999;
}

#drawing {
	padding-top: 16px;
}

canvas {
	background-color: black;
}


#menu {
	padding:12px;
}

.input-res {
	width:4em;
}

footer {
	position: absolute;
	bottom: 0;
	height: 3em;
	width:100%;
	margin-top:-60px;
	background-color: #444;
	color: #eee;
	text-align:	center;
}


#drawing-page {
	text-align: center;
}

#history-page {
	display: none;
	padding:32px;
}

#examples-page {
	display: none;
	padding:32px;
}

figure {
	margin: 0;
	padding-bottom: 32px;
}

.options {
	padding:4px;
	width:480px;
	text-align: left;
	margin: 0 auto;
}

#optionsMandelbrot {
	display: block;
}

#optionsSierpinskiCarpet {
	display: none;
}

#optionsFractalTree {
	display: none;
}

#optionsCircle {
	display: none;
}

#progress {
	color: darkgreen;
}

.input-1 {
	width:4em;
	margin: 4px;
}